{% extends 'main/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load static %}
{% load account %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
             style="min-height: 100vh; background-size: cover; background-image: url({% static "assets/keep_note/img/draw2.webp" %});">
        <div class="container-fluid">
            <div class="row  justify-content-center align-items-center d-flex-row h-100">
                <div class="col-12 col-md-4 col-lg-3 h-50 ">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4>{% trans "Password Reset" %}</h4>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include "account/snippets/already_logged_in.html" %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <form method="POST" action="{% url 'account_reset_password' %}"
                                          class="password_reset">
                                        {% csrf_token %}
                                        {{ form|crispy }}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary btn-block"
                                                   value="{% trans 'Reset My Password' %}">

                                        </div>
                                        <p>Please contact us if you have any trouble resetting your password.</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}