{% extends 'main/base.html' %}
{% load i18n %}
{% load account %}
{% load static %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block content %}
    <section class="pt-0 pb-5 mt-0 align-items-center d-flex bg-dark"
             style="min-height: 90vh; background-size: cover; background-image: url({% static "assets/keep_note/img/draw2.webp" %});">
        <div class="container-fluid">
            <div class="row  justify-content-center align-items-center d-flex-row h-100">
                <div class="col-12 col-md-4 col-lg-5 h-50 ">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <h4>{% trans "Password Reset" %}</h4>
                                </div>
                            </div>
                            {% if user.is_authenticated %}
                                <div class="row">
                                    <div class="col-md-12">
                                        {% include "account/snippets/already_logged_in.html" %}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}