{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
             style="min-height: 100vh; background-size: cover; background-image: url({% static "assets/keep_note/img/draw2.webp" %});">
        <div class="container-fluid">
            <div class="row  justify-content-center align-items-center d-flex-row h-100">
                <div class="col-12 col-md-4 col-lg-3 h-50 ">
                    <div class="card shadow">
                        <div class="card-body">
                            {% if token_fail %}
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4>{% trans "Bad Token" %}</h4>
                                    </div>
                                    <hr>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {% url 'account_reset_password' as passwd_reset_url %}
                                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <h4>{% trans "Change Password" %}</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form method="POST" action="{{ action_url }}">
                                            {% csrf_token %}
                                            {{ form|crispy }}
                                            <input type="submit" class="btn btn-primary btn-block" name="action" value="{% trans 'Change password' %}"/>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
