{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
    <div class="signin-form">
    <form class="login" method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
		<h2><b>Sign Up</b></h2>
        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}
		<div class="footer-basic text-center p-3">
        <p>Login with social</p>
            <div class="social">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </div>
		</div>
		<div class="or-seperator m-1"><b>or</b></div>
        {% endif %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-lg btn-block signin-btn">Sign Up</button>
        </div>
    </form>
    <div class="text-center small">Did have already an account? <a href="{% url 'account_login' %}">Sign In</a></div>
</div>
{% endblock content %}

