body {
    background: #eeeeee;
    font-family: 'Varela Round', sans-serif;
}

.navbar {
    color: #fff;
    background: #926dde !important;
    padding: 5px 16px;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 4px rgba(0, 0, 0, .1);
}

.navbar img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
}

.navbar .navbar-brand {
    color: #efe5ff;
    padding-left: 0;
    padding-right: 50px;
    font-size: 24px;
}

.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
    color: #fff;
}

.navbar .navbar-brand i {
    font-size: 25px;
    margin-right: 5px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding-right: 35px;
    min-height: 38px;
    border: none;
    background: #faf7fd;
    border-radius: 3px !important;
}

.search-box input:focus {
    background: #fff;
    box-shadow: none;
}

.search-box .input-group-addon {
    min-width: 35px;
    border: none;
    background: transparent;
    position: absolute;
    right: 0;
    z-index: 9;
    padding: 10px 7px;
    height: 100%;
}

.search-box i {
    color: #a0a5b1;
    font-size: 19px;
}

.navbar .nav-item i {
    font-size: 18px;
}

.navbar .nav-item span {
    position: relative;
    top: 3px;
}

.navbar .navbar-nav > a {
    color: #efe5ff;
    padding: 8px 15px;
    font-size: 14px;
}

.navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.3);
}

.navbar .navbar-nav > a > i {
    display: block;
    text-align: center;
}

.navbar .dropdown-item i {
    font-size: 16px;
    min-width: 22px;
}

.navbar .dropdown-item .material-icons {
    font-size: 21px;
    line-height: 16px;
    vertical-align: middle;
    margin-top: -2px;
}

.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
    color: #fff;
    background: none !important;
}

.navbar .dropdown-menu {
    border-radius: 1px;
    border-color: #e5e5e5;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .dropdown-menu a {
    color: #777 !important;
    padding: 8px 20px;
    line-height: normal;
    font-size: 15px;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
    color: #333 !important;
    background: transparent !important;
}

.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.2);
    background: transparent !important;
}

.navbar .navbar-nav .user-action {
    padding: 9px 15px;
    font-size: 15px;
}

.navbar .navbar-toggle {
    border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
    background: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
    background: transparent;
}

.navbar .navbar-nav .open .dropdown-menu {
    background: #faf7fd;
    border-radius: 1px;
    border-color: #faf7fd;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .05);
}

.navbar .divider {
    background-color: #e9ecef !important;
}

@media (min-width: 1200px) {
    .form-inline .input-group {
        width: 350px;
        margin-left: 30px;
    }
}

@media (max-width: 1199px) {
    .navbar .navbar-nav > a > i {
        display: inline-block;
        text-align: left;
        min-width: 30px;
        position: relative;
        top: 4px;
    }

    .navbar .navbar-collapse {
        border: none;
        box-shadow: none;
        padding: 0;
    }

    .navbar .navbar-form {
        border: none;
        display: block;
        margin: 10px 0;
        padding: 0;
    }

    .navbar .navbar-nav {
        margin: 8px 0;
    }

    .navbar .navbar-toggle {
        margin-right: 0;
    }

    .input-group {
        width: 100%;
    }
}



.btn{
  border-radius: .25rem !important;
}



input, textarea {
    border-radius: 3px !important;
}

.form-control {
    font-size: 16px;
    transition: all 0.4s;
    box-shadow: none;

}

.form-control:focus {
    border-color: #007bfe;
}

.form-control, .btn {
    border-radius: 50px;
    outline: none !important;
}

.signin-form {
    width: 400px;
    margin: 0 auto;
    padding: 30px 0;
}

.signin-form form {
    border-radius: 5px;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

.signin-form a {
    color: #007bfe;
}

.signin-form h2 {
    text-align: center;
    font-size: 34px;
    margin: 10px 0 15px;
}

.signin-form .hint-text {
    color: #999;
    text-align: center;
    margin-bottom: 20px;
}

.signin-form .form-group {
    margin-bottom: 20px;
}

.signin-form .btn {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
}

.signin-form .small {
    font-size: 13px;
}

.signin-btn {
    text-align: center;
    border-color: #007bfe;
    transition: all 0.4s;
}

.signin-btn:hover {
    background: #007bfe;
    opacity: 0.8;
}

.or-seperator {
    margin: 50px 0 15px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
}

.or-seperator b {
    padding: 0 10px;
    width: 40px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background: #fff;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    position: relative;
    top: -22px;
    z-index: 1;
}

.social-btn .btn {
    color: #fff;
    margin: 10px 0 0 30px;
    font-size: 15px;
    width: 55px;
    height: 55px;
    line-height: 45px;
    border-radius: 50%;
    font-weight: normal;
    text-align: center;
    border: none;
    transition: all 0.4s;
}

.social-btn .btn:first-child {
    margin-left: 0;
}

.social-btn .btn:hover {
    opacity: 0.8;
}

.social-btn .btn-white {
    background: #0b1010;
}

.social-btn .btn i {
    font-size: 20px;
}

.social-form {
    width: 400px;
    margin: 0 auto;
    padding: 100px 0;
}


.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social > a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social > a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}

.card-columns {

@include media-breakpoint-only(lg) {
    column-count: 4;
}
@include media-breakpoint-only(xl) {
    column-count: 5;
}
}

