{% extends 'main/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %}{% if user.first_name %}{{ user.first_name|title }}{% endif %}
    {% if user.last_name %}{{ user.last_name|title }}{% endif %} - Profile{% endblock %}
{% block head %}
{% endblock head %}

{% block content %}
    <hr>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-sm-10"><h1>{{ user.username }} </h1></div>
        </div>
        <div class="row">
            <div class="col-sm-3"><!--left col-->


                <div class="text-center">
                    <img src="{{ user.avatar.url }}" class="avatar img-circle img-thumbnail"
                         alt="{% if user.first_name %}{{ user.first_name|title }}{% endif %}
                                {% if user.last_name %}{{ user.last_name|title }}{% endif %}">
                </div>
                </hr><br>


                <ul class="list-group">
                    <li class="list-group-item text-right"><span
                            class="pull-left"><strong>Total Notes</strong></span> {{ object.notes.count }}</li>
                </ul>

            </div><!--/col-3-->
            <div class="col-sm-9">
                <div class="tab-content">
                    <hr>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="first_name"><h4>Name:
                                {% if user.first_name %}{{ user.first_name|title }}{% endif %}
                                {% if user.last_name %}{{ user.last_name|title }}{% endif %}</h4></label>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="first_name"><h4>Username: {{ user.username }}</h4></label>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="first_name"><h4>Email: {{ user.email }}</h4></label>
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="col-xs-6">
                            <label for="first_name"><h4>DOB: {{ user.date_of_birth }}</h4></label>
                        </div>
                    </div>
                </div>
            </div>

            </div><!--/col-9-->
            </div><!--/row-->
    <hr>
{% endblock content %}