{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if notes_list %}
        <div class="container-xl mt-4">
            <div class="card-columns">
                {% for object in notes_list %}
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ object.title }}</h5>
                            <hr>
                            <p class="card-text">{{ object.body }}</p>
                            <p class="card-text"><small class="text-muted">Last updated {% if object.updated_on %}
                                {{ object.updated_on|date }}
                            {% else %}
                                {{ object.created_on|date }}
                            {% endif %}</small></p>
                            <div class="mt-4 text-center">
                                <a
                                        id="MainContent_gvNotes_ibtnUpdate_0"
                                        title="Update Note"
                                        class="m-portlet__nav-link m-portlet__nav-link--icon m--icon-font-size-lg1 textdecoration"
                                        href="{% url 'note_update' pk=object.id %}"
                                >
                                    <i class="fa fa-pencil"></i>
                                </a>

                                <a title="Delete"
                                   class="m-portlet__nav-link m-portlet__nav-link--icon m--icon-font-size-lg1 ml-1 textdecoration"
                                   href="{% url 'note_delete' pk=object.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="signin-form text-center">
            <form method="post">
                <h5>There is note yet!</h5>

            </form>
        </div>
    {% endif %}
    <nav>
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page=1" class="page-link">First</a></li>
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                </li>
            {% else %}
                <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
                <li class="page-item disabled"><a disabled href="" class="page-link">Previous</a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="page-item"><a href="?page{{ num }}" class="page-link">{{ num }}</a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3' %}
                    <li class="page-item"><a href="?page{{ num }}" class="page-link">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a></li>
            {% else %}
                <li class="page-item disabled"><a href="" class="page-link">Next</a></li>
                <li class="page-item disabled"><a href="" class="page-link">Last</a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
{% endblock content %}