{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section class="pt-5 pb-5 mt-0  d-flex"
             style="min-height: 100vh;">
        <div class="container-fluid">
            <div class="row  justify-content-center d-flex-row h-100">
                <div class="col-12 col-md-4 col-lg-3 h-50 ">
                    <div class="card shadow">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                     <form id="add_form" class="login" method="POST" action="{% url 'author_notes_list' %}">
                                         <p id="add_form_message"></p>
                                         {% csrf_token %}
                                        {{ form|crispy }}
                                        <div class="text-center">
                                            <button title="Add Note" type="submit"
                                                    class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button title="Cancel" type="reset"
                                                    class="m-portlet__nav-link btn btn-secondary m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill">
                                                <span class="fa fa-close"></span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).on('submit', "#add_form", function (event) {
            event.preventDefault();
            var dataString = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '{{ request.path }}',
                dataType: 'json',
                data: dataString,
                success: function (data) {
                    if (data.status == "True") {
                        $("#add_form")[0].reset()
                        $('#add_form_message').empty().append(data.message)
                        setTimeout(function () {
                            $('#add_form_message').empty()
                        }, 5000);
                        $.ajaxSetup({cache: false});
                        updateMsg()
                    } else {
                        $('#add_form_message').empty().append(data.error.title[0])
                        setTimeout(function () {
                            $('#add_form_message').empty()
                        }, 5000);
                    }
                }
            });
        })
    </script>
{% endblock javascript %}